*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #232525;
    color: #2E003B;
    text-align: center;
    -webkit-text-stroke-color: #BBC7CE;
    margin: auto;
    font-family: 'Roboto',  sans-serif;
}
h1{
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
}
strong{
    font-style: italic;
}
#mypicture{
    width: 20%;
    margin-top: 30px;
    border: #DFB728 double 10px;
    border-radius: 100%;
}
div{
    width: 60%;
    margin: 15px;
}
.aboutme{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0px;   
}
.container{
    display: flex;
    margin: auto;
    border-radius: 10px;
}
div.container h2{
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
}
div.projects ul{
    list-style: none;
}

div.skills ul{
    text-align: justify;
    background: #606060;
    padding: 20px;
    color: #2E003B;
    border-radius: 6px;
}
.hard{
    font-size: 1.2em;
    font-weight: 600;
}
.soft{
    font-size: 1.5em;
    font-weight: 500;
}
ul li a{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #606060;
    text-transform: uppercase;
    color: #2E003B;
    margin-bottom: 5px;
    border-radius: 6px;
    transition: background 300ms;
}
ul li a:hover{
    background: #8d6309;
}
a{
    text-decoration: none;
  
}
