*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    --bg-color: #252525;
    --text-color: #2E003B;
    --text-color-2: #BBC7CE;
    --text-border-color: #959595;
    --detail-color-1: #DFB728;
    --detail-color-2: #BBC7CE;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    -webkit-text-stroke-color: var(--text-border-color);
    margin: auto;
    font-family: 'Roboto',  sans-serif;
}

#name{
    margin: auto;
}
#picture-container{
    display: inline-block;
    width: fit-content;
    padding: 10px;
    background-color: var(--text-color);
    border-radius: 100%;
    margin: 15px;
}
#description{
    display: inline-block;
    width: 300px;
}
h1{
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
}
strong{
    font-style: italic;
}

#mypicture{
    width: 200px;
    border: var(--detail-color-1) double 10px;
    border-radius: 100%;
}
div{
    width: 60%;
    margin: 15px;
}
.aboutme{
    font-family: Verdana, Tahoma, sans-serif;
    margin: auto;
    color: var(--text-color-2);
    -webkit-text-stroke-width: 0;   
}

.container{
    display: flex;
    margin: auto;
    border-radius: 10px;
}
.container h2{
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
}
.projects ul{
    list-style: none;
}

.skills ul{
    text-align: justify;
    background: var(--detail-color-2);
    padding: 5px 15px;
    color: var(--text-color);
    border-radius: 6px;
}
.skills ul li{
    list-style-position: inside;
}
.hard{
    font-size: 1.2em;
    font-weight: 600;
}
.soft{
    font-size: 1.5em;
    font-weight: 500;
}
ul li a{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--detail-color-2);
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 5px;
    border-radius: 6px;
    transition: background 300ms;
}
ul li a:hover{
    background: var(--detail-color-1);
}
a{
    text-decoration: none;
  
}
footer{
    background-color: var(--detail-color-2);
    width: 10%;
    border-radius: 12px;
    margin: auto;
    padding: 10px;
}
.icon{
    width: 50px;
}
li:nth-child(odd){
    text-decoration: line-through;
}